@{
    ViewData["Title"]="Agregar Deportista";
}

<h1>Cargar deportista</h1>
<p>Aquí podrá cargar todos los deportistas que compitan en los Juegos Olímpicos.</p>

    <form action='@Url.Action("AgregarDeportista", "Home")'>
            <div class="centrar">
            <p>Link a la imagen del deportista:</p>
            <input autocomplete="off" type="number" name="Foto" placeholder="" required><br>
            <p>Apellido:</p>
            <input autocomplete="off" type="texto" name="Apellido" placeholder="" required><br>
            <p>Nombre:</p>
            <input autocomplete="off" type="texto" name="Nombre" placeholder="" required><br>
            <p>Fecha de nacimiento:</p>
            <input autocomplete="off" type="date" name="FechaNacimiento" placeholder="" required><br>
            <p>Número de país:</p>
            <input autocomplete="off" type="number" name="IdPais" placeholder="" required><br>
            <p>Número de deporte:</p>
            <input autocomplete="off" type="number" name="IdDeporte" placeholder="" required><br>
            <div>
                <input class="btn btn-primary" type="submit" name="Enviar">
                <input class="btn btn-secondary" type="reset" name="Resetear">
            </div>
            </div>
    </form>
