@{
    ViewData["Title"]="Creditos";
}
<h1><b>Créditos</b></h1>
<p>Este proyecto fue hecho por Ian Jolodovsky, Ivan Kovadloff y Leila Entenza Chiderski, estudiantes de informática de cuarto año división c para la materia Taller de Programación II.</p>
<p>¡Esperamos que le sea de utilidad y logré aprender sobre los Juegos Olímpicos!</p>
<div class="centrar">
    <img class="GifCreditos" src="/images/GifCreditos.gif">
</div>