@{
    ViewData["Title"]="DetalleDeporte";
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
}

<h1 class="titulo-historia"><b>Historia de los Juegos Olímpicos</b></h1>
<p>El origen de los Juegos Olímpicos se remonta a Grecia en el siglo VIII A. C. aproximadamente. Su nombre se debe a que se celebraban para brindarle honor a los dioses del Panteón Olímpico.</p>
<p>Eran realizadas festividades deportivas en las cuales se competía en diferentes disciplinas. Incluso se frenaban durante algunos días luchas entre ciudades y reinos para poder celebrarlas.</p>
<div class="centrar">
<img src="/images/Atenas.jpg">
</div>
<h2>Significado del logo</h2>
<p>En un principio, el logo de los cinco anillos enlazados buscaba representar a los primeros países en participar. Luego, se lo empezó a considerar como los cinco continentes unidos.</p>