@{
    ViewData["Title"] = "Juegos Olímpicos";
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
}

<h1><b>Juegos Olímpicos</b></h1>

<div class="Banner">
    <p>Es nuestro objetivo que más gente pueda conocer nuevos deportes que disfrute</p>
    <p>Podras ver o participar de las competencias una vez cada cuatro años</p>
    <p>Oportunidad perfecta para que deportistas ganen reconocimiento</p>
    <img src="/images/LaurelWreath.png">
</div>
<div class="centrar">
<img class="IndexIMG" src="/images/JOO.jpeg">
</div>
<p>A lo largo de este sitio podrá encontrar una gran variedad de deportes y jugadores que formaran parte de esta edición de los juegos olímpicos.</p>
<p>Los juegos olímpicos son conocidos por ser el mayor evento deportivo multidisciplinario internacional. Este evento está inspirado en los juegos celebrados en Grecia hacia el siglo VIII A.C. con sede en Olimpia.</p>

<div class="container text-center">
    <h2>Mejores momentos de los Juegos Olímpicos 2024</h2>
    <div class="row">
        <div class="col">
            <iframe width="600" height="330" src="https://www.youtube-nocookie.com/embed/NevZtIZPk-s?si=hYS6hGpnKQWpWNj4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="600" height="330" src="https://www.youtube-nocookie.com/embed/GSzDJPnpiso?si=acT1y_Av26kx9P0y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="600" height="330" src="https://www.youtube-nocookie.com/embed/RtJUMrE-AfE?si=sIl7CSLYfbuDyprP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="container text-center">
    <h2>Próximos eventos</h2>
    <div class="row">
        <div class="col">
        <p>Los Juegos Olímpicos 2028 serán realizados en Los Ángeles, Estados Unidos. Se llevaran a cabo del 14 al 30 de julio del 2028 y los del 2032 tendrán lugar en Brisbane y Queensland, Australia.</p>
        <p>Aún se encuentra en discusión en qué lugar acontecerán los Juegos Olímpicos 2036, sin embargo se encuentran entre las opciones Polonia y Qatar.</p>
        </div>
        <div class="col">
        <img src="/images/LosAngeles2038.jpg">
        </div>
    </div>
</div>