@{
    ViewData["Title"] = "Juegos Olímpicos";
}

<h1>Juegos Olímpicos</h1>
<!--Banner-->
<div>
    <p>Es nuestro objetivo que más gente pueda conocer nuevos deportes que disfrute</p>
    <p>Podras ver o participar de las competencias una vez cada cuatro años</p>
    <p>Oportunidad perfecta para que deportistas ganen reconocimiento</p>
</div>
<div>
    <p>Representantes de una gran cantidad de países</p>
    <p></p>
    <p></p>
</div>