html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;  
  font-family: "Inter", sans-serif;
  background-color: #fff;
}

h1{
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

p{
  font-size: large;
  text-align: center;
}

main .container p{
  margin: 3%;
}

main .container{
  background-color: salmon;
  color: white;
  margin-top: 2%;
}

.text-detallepais {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:auto;
}
img{
  width:70%;
  border-radius: 10px;
  margin: 3%;
}

h2{
  text-align: center;
}

iframe{
  margin: 2%;
}

.centrar{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ContenedorTarjetas {
  display: flex; 
  flex-wrap: wrap; 
  gap: 16px; 
  justify-content: center; 
  padding: 16px; 
}

.Tarjeta {
  background-color: #f9f9f9; 
  border: 1px solid #ddd; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  padding: 16px; 
  text-align: center; 
  max-width: 300px;
  transition: transform 0.3s, box-shadow 0.3s;
  flex: 1; /* Permite que las tarjetas se ajusten al espacio disponible */
  min-width: 250px; /* Ancho mínimo para que no se vuelvan demasiado pequeñas */
}
.Tarjeta h2, h3{
  color:black;
  
}

.Tarjeta a {  
  text-decoration: none;
  list-style: none  ;
  color: inherit;
}

.Tarjeta img {
  border-radius: 4px; 
  max-width: 100%; 
  height: auto; 
  margin-bottom: 12px; 
}

.Tarjeta h2 {
  font-size: 1.5em;
  margin: 8px 0; 
  color: #333;
}

.Tarjeta p {
  font-size: 1em; 
  color: #666;
  margin: 0; 
}

.Tarjeta:hover {
  transform: translateY(-5px); 
  box-shadow: 0 8px 16px rgba(0,0,0,0.2); 
}