html {
  font-size: 14px;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


html {
  position: relative;
  min-height: 100%;
}


body {
  margin-bottom: 60px;
  margin-top: 130px;  
  font-family: "Inter", sans-serif;
  background-color: #eed8ab;
}


h1{
  text-align: center;
  margin-top: 11%;
  margin-bottom: 2%;
 
}


p{
  font-size: large;
  text-align: center;
}


main .container p{
  margin: 3%;
}


.titulo-historia{
  margin-top:11%;
}
main .container{
  background-color: #5f6e85;
  color: white;
  margin-top: 2%;
}


.a-deporte-pais{
  text-decoration: none !important;
}


.text-detallepais {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:auto;
}
img{
  width:70%;
  border-radius: 10px;
  margin:3%;
}


h2{
  text-align: center;
}


.GifCreditos{
  width: 50%;
}


iframe{
  margin: 2%;
}


.centrar{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.ContenedorTarjetas {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 16px;
}


.Tarjeta {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 16px;
  text-align: center;
  max-width: 300px;
  transition: transform 0.3s, box-shadow 0.3s;
  flex: 1;
  min-width: 250px;
}
.Tarjeta h2, h3{
  color:black;
 
}


.Tarjeta a {  
  text-decoration: none;
  list-style: none  ;
  color: inherit;
}


.Tarjeta img {
  border-radius: 4px;
  max-width: 100%;
  height: auto;
  margin-bottom: 12px;
}


.Tarjeta h2 {
  font-size: 1.5em;
  margin: 8px 0;
  color: #333;
}


.Tarjeta p {
  font-size: 1em;
  color: #666;
  margin: 0;
}


.Tarjeta:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}


.Banner{
  float: right;
  width: 30%;
  margin: 2%;
  border-left: 2px solid rgb(105, 105, 105);
}


.Banner img{
  margin-left: 30%;
  width: 40%;
}


.IndexIMG{
  margin-left: 0%;
  width: 100%;
  transition: 2s;
 
}
  .IndexIMG:hover{
    filter: grayscale(1);
}


.detalles-deportista .boton {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #007bff;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}


.detalles-deportista .boton:hover {
  background-color: #0056b3;
}


.detalles-deportista .boton p {
  margin: 0;
  padding: 0;
}


.detalles-deportista .boton {
  all: unset;
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #007bff;
  color: white;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.detalles-deportista .boton:hover {
  background-color: #0056b3;
}


.detalles-deportista .boton p {
  margin: 0;
  padding: 0;
}


.carrousel{
  width: 90%;
  padding: 2%;
  display:flex;
  justify-content: center;
}
.iCarrousel{
  width: 20%;
  margin: 0 10px;
  box-shadow: 0 0 20px 2px rgba(0,0,0, .1);
  transition: 1s;
}


.iCarrousel img{
  display: block;
  width: 100%;
  height: 100%;
  border-radius:5px;  
  margin: 0;
}


.iCarrousel:hover{


  transform: scale(1.3);
  z-index: 2;
}
