html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;  
  font-family: "Inter", sans-serif;
  background-color: #fff;
}

h1{
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

p{
  font-size: large;
  text-align: center;
}

main .container p{
  margin: 3%;
}

main .container{
  background-color: salmon;
  color: white;
  margin-top: 2%;
}

img{
  width:70%;
  border-radius: 10px;
  margin: 3%;
}

h2{
  text-align: center;
}

iframe{
  margin: 2%;
}

.centrar{
  width:  100%;
  justify-content: center;
}